
Ugh.xcodeproj/project.xcworkspace/contents.xcworkspacedata

Ugh.xcodeproj/project.xcworkspace/xcuserdata/keith.xcuserdatad/UserInterfaceState.xcuserstate

Ugh.xcodeproj/xcuserdata/keith.xcuserdatad/xcschemes/Ugh.xcscheme

Ugh.xcodeproj/xcuserdata/keith.xcuserdatad/xcschemes/xcschememanagement.plist

.DS_Store

Ugh.xcodeproj/xcuserdata/keith.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
